{
  "plugins": ["import", "tailwindcss"],
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:import/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "prefer-const": "error",
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "import/no-cycle": "error",
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc" },
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "internal"
          }
        ]
      }
    ]
  }
}
